
#containermedia{
  
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  position: relative;
}
#media{ 
  object-fit: cover;
  width: 100%;
  height: 200px;
  
}
.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#containermedia:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#count{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
}

span.objectMedia{
  width: 530px;
  display: inline-block;
}

.scaledown{
  object-fit: scale-down;
  width:100%; 
  height:100%;

}
